body {
    /*background: linear-gradient(329.54deg, #f3c3bb 0%, #e68979 100%);*/
    text-align: center;    
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #f8d2cb;
    text-decoration-style: initial;
}

button {
    background-color: #f8d2cb;
    font-size: 13px;
    border-radius: 5px;
}

button:hover {
    background-color: #f0c0b7;
    cursor: pointer;
}

/* datas {} */

canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

input {
    margin-top: 10px;
    margin-bottom: 15px;
}

.caixa {
    width: 15rem;
    height: 10rem;
    border: .5px solid #000000;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    transition: background .2s;
    animation-delay: 250ms;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 110px;
}